doctype html
html
  head
    title Dominion - #{title}
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    h1 Dominion Game Results and Player Statistics

    div(class='topnav')
      a(class='active' href='./') Home
      a(href='addGameResult') Add Game Result
      a(href='addPlayer') Add Player
      a(href='gameResults') Game Results
      a(href='playerStats') Player Statistics
    div
      p

    block content