doctype html
html
  head
    title Dominion - #{title}
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    h1 Dominion Game Results and Player Statistics

    block content